:root {
  --tarjeta-padding: 1rem;
  --tarjeta-radius: 12px;
  --tarjeta-shadow:  6px 6px 6px rgba(111, 188, 243, 0.43);
}

.tarjeta-global {
  background-color: var(--tarjeta-color);
  padding: var(--tarjeta-padding);
  border-radius: var(--tarjeta-radius);
  box-shadow: var(--tarjeta-shadow);
  border: 1px solid #1B57A7;
  max-width: 420px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tarjeta-global:hover{
  transform: translateY(-4px);
  cursor: pointer;
}

.titulo-global {
  margin: 0 0 0.5rem 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: #0F3C76;
}

.contenido-global {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #0b131e;
}